.land1 {
  background-color: black;
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;

  .landf1 {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;

    .name {
      font-size: 3rem;
    }
    .text_home {
      padding-top: 13rem;
    }

    .butto_holder {
      .butto1 {
        background-color: #28ae60;
        height: 2rem;
        width: 8rem;
        transition: background-color 0.1s ease;
        .butto1:hover {
          background-color: rgb(38, 36, 36);
        }
      }
      .butto2 {
        background-color: black;
        color: white;
        border: solid 1px white;
        height: 2rem;
        width: 8rem;
      }
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding-top: 4rem;
    }

    .my_profile {
      padding-top: 4rem;
      .my_pic {
        height: 30rem;
        width: 20rem;
      }
    }

    .type {
      font-family: "Roboto Condensed", sans-serif;
      display: flex;
      flex-direction: row;
      font-size: 2rem;
      gap: 4px;
    }
    .word-writer {
      color: #28ae60;
    }
  }
}
.land2 {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 3rem;

  width: 100wh;
  .imge {
    width: 18rem;
    height: 25rem;
  }
  .about-exp {
    border-left: #28ae60 solid 2px;
    padding-left: 0.5rem;
  }
  .text1 {
    font-size: 2rem;
  }

  .imgh {
    margin-top: -5.5rem;
  }
  .text2 {
    width: 31rem;
    padding-top: 1rem;
  }
  .type1 {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    gap: 4px;
    padding-left: 31rem;
    padding-top: 1rem;
  }
  .word-writer {
    color: #28ae60;
  }

  .img-text {
    display: flex;
    flex-direction: row;
    gap: 13rem;
    .img-text1 {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .but {
        background-color: #28ae60;
        height: 2rem;
        width: 7rem;
        font-weight: bold;
      }
      .text-icon {
        gap: 2rem;

        .text-a {
          display: flex;
          flex-direction: row;
          gap: 1rem;
        }
        .text-b {
          display: flex;
          flex-direction: row;
          gap: 1rem;
        }
        .text-c {
          display: flex;
          flex-direction: row;
          gap: 1rem;
        }
        .icon-about {
          color: #28ae60;
          width: 2rem;
          height: 1rem;
        }
      }
    }
  }
}

.land3 {
  background-color: black;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  .serv-text1 {
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  .serv-text2 {
    text-align: center;
    padding-top: 1rem;
    .text-s1 {
      color: white;
      font-size: 2rem;
      font-weight: bold;
      .text-s1a {
        color: #28ae60;
      }
    }
  }
  .card-service {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card1-serv {
      background-color: #6c757d;
      width: 17rem;
      height: 16rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5;

      .text-head1 {
        font-weight: bold;
        font-size: 1.5rem;
        padding-top: 1rem;
        color: white;
      }
      .text-head2 {
        padding-top: 0.5rem;
        color: white;
      }

      .card1-a1 {
        .card-icon {
          color: #28ae60;
          height: 3rem;
          width: 4rem;
        }
      }
    }
    .card1-serv:hover {
      background-color: #28ae60;
    }

    .card1-serv:hover .text-head1,
    .card1-serv:hover .text-head2 {
      color: #333;
    }
    .card1-serv:hover .card-icon {
      color: #333;
    }
  }
}
.land4 {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: white;
  .land4-head1 {
    padding-left: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    border-left: #28ae60 solid 2px;
    .blog-deco {
      color: #28ae60;
    }
  }
  .blogs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .blog-holder1 {
      padding-top: 6rem;
      .blog-image1 {
        height: 18rem;
        width: 30rem;
      }
      .blog-date {
        padding-top: 2rem;
        font-size: 1.4rem;
        color: #6c757d;
      }
      .blog-text1 {
        font-size: 2.2rem;
        width: 27rem;
        padding-top: 2rem;
      }
      .blog-text2 {
        width: 27rem;
        font-size: 1.4rem;
        font-weight: lighter;
        color: black;
        padding-top: 2rem;
      }
      .blog-read {
        font-weight: bold;
        padding-top: 2rem;
      }
      .blog-read a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.pages-land {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
  background-color: white;
  .pages-1 {
    text-align: center;
    color: black;
    font-size: 2rem;
  }
  .project-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .page-card-holder {
      padding-top: 3rem;

      .pages-text1 {
        width: 18rem;
        padding-top: 1rem;
        color: grey;
      }

      .read-text1 {
        display: flex;
        padding-top: 1.9rem;
        flex-direction: row;
        gap: 0.5rem;
      }
      .read-text1 a {
        text-decoration: none;
        color: black;
      }
      .icon-page {
        color: #28ae60;
        height: 5rem;
        width: 5rem;
      }
      .icon-page2 {
        height: 1.3rem;
      }
      .project-title {
        font-weight: bold;
        padding-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .land1 {
    background-color: black;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.7rem;
    //  width: 19rem;
    .landf1 {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      .name {
        font-size: 1rem;
      }
      .text_home {
        padding-top: 5.2rem;
      }
      .type {
        font-size: 1rem;
      }

      .my_profile {
        padding-top: 4rem;
        .my_pic {
          height: 12rem;
          width: 7rem;
        }
      }
      .butto_holder {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 2rem;
        .butto1 {
          background-color: #28ae60;
          height: 2rem;
          width: 8rem;
        }
        .butto2 {
          background-color: black;
          color: white;
          border: solid 1px white;
          height: 2rem;
          width: 8rem;
        }
      }
    }
  }

  .land2 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.7rem;

    .img-text {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .imgh {
        margin-top: -2.5rem;
      }
      .img-text1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .but {
          background-color: #28ae60;
          height: 2rem;
          width: 7rem;
          font-weight: bold;
        }
        .text-icon {
          gap: 2rem;

          .text-a {
            display: flex;
            flex-direction: row;
            gap: 1rem;
          }
          .text-b {
            display: flex;
            flex-direction: row;
            gap: 1rem;
          }
          .text-c {
            display: flex;
            flex-direction: row;
            gap: 1rem;
          }
          .icon-about {
            color: #28ae60;
            width: 2rem;
            height: 1rem;
          }
        }
        .text2 {
          width: fit-content;
        }
      }
    }
    .type1 {
      display: none;
    }
  }
  .land3 {
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: black;
    .card-service {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  .land4 {
    padding-left: 2rem;
    padding-right: 2rem;
    .blogs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .blog-holder1 {
        padding-top: 6rem;
        .blog-image1 {
          height: 15;
          width: 19.2rem;
        }
        .blog-date {
          padding-top: 2rem;
          font-size: 1.4rem;
          color: #6c757d;
        }
        .blog-text1 {
          font-size: 2rem;
          width: fit-content;
          padding-top: 2rem;
        }
        .blog-text2 {
          width: fit-content;
          font-size: 1.4rem;
          font-weight: lighter;
          color: black;
          padding-top: 2rem;
        }
        .blog-read {
          font-weight: bold;
          padding-top: 2rem;
        }
        .blog-read a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .pages-land {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    .project-holder {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
