
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
}
button {
  border: 0;
  border-radius: 4px;
}
button:hover {
  color: black;
}
.container {
  position: absolute;
  position: fixed;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
 
  .second_nav {
    background-color:black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.4rem;
    height: 4rem;

    .quate {
      background-color: #28ae60;
      height: 2rem;
      width: 7rem;
      font-weight: bold;
    }
     .quate:hover
        {
          background-color: #2F2E41;
          color: #28ae60;
        }
       
    .pages {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 2rem;
    }
    .pages :hover
    {
      color: #28ae60;
      border-bottom: solid 1px #28ae60;
      padding-bottom: 19px;
     
    }
    .icon1 {
      height: 3rem;
      width: 1.5rem;
      padding-top: 0.5rem;
    }
    .padding1 {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
    .quate2 {
      padding-top: 1rem;
    }
    ul li a {
      text-decoration: none;
      color: white;
    }
  
    .fabar
    {
      display: none;
    }
     .account-log
         {
          display: none;
         }
  }
}

@media screen and (max-width: 768px) {
    .container{

      .second_nav
      {
     
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
     
        .pages
        {
          display: none;
        }
        .quate1
        {
          display:contents;
          
          
        }
        
        .anychange-text
        {
          display: flex;
          flex-direction: row;
         gap: 2rem;
         .account-log
         {
          display: none;
         }
          .imerge-resp
        {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          
           .fabar{
          display: list-item;
           font-size: 1.5rem;
          
        }
        .logo-resp
        {
          width: 4rem;
          height: 1.4rem;

        }
        }
        }
        
       .quate2
       {
        display: contents;
       }
      }
    }
      }
