.containerform{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    background-color: white;
.resetform
{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.9rem;
    width: 30rem;
   
  
    .resettitle
    {
        font-weight: bold;
        color: #6c757d;;
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
    }
    .inputreset
    {
        width: 18rem;
        padding: 10px;
        border: solid 1px black;
        border-radius: 3px;
    }
    .restformbutto
    {
        padding: 10px;
        width:19.5rem;
        background-color: #28ae60;
        color: white;
    }
     .restformbutto:hover
    {
       background-color:  #21633d;
    }
}
}

@media screen and (max-width: 768px) {

    .resetform
{
   padding-left: 3%;
   padding-right: 3%;
   align-items: center;
}

}