.status-a
{
     .quate {
      background-color: #28ae60;
      height: 2rem;
      width: 7rem;
      font-weight: bold;
      color: white;
    }
     .quate:hover
        {
        background-color:  #21633d;
        }
}
.logout-status
{
    
    .text-status{
      display: flex;
      flex-direction: row;
      gap: 0.4rem;
         .update-profile
    {
        font-size: 1.7rem;
    }
   
    }
    .drop-down-status
    {
  font-size: 1.7rem;
    }
   
}

@media screen and (max-width: 768px) {

}
    