
.pen {
  
  width: 14px; /* Pen width */
  height: 18px; /* Pen height */
  border-right: 3px solid  #28AE60;/* Pen color and style */
  transform: rotate(1deg); /* Pen angle */
  margin-left: 5px; /* Spacing between pen and text */
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Pen animation transition */

}

.pen.show {
  opacity: 1;
}
